h1{
	color:white;
}
p{
	font-family: New Roman;
}
p{
	color:white;
}
body{
	margin:0px;
}
#header{
	height:120px;
	background:#ffd1f7;
}
body{
	background-color:#dc8eb8;
}
h1{
	text-align: center;
}
body
{
	image-align: center;
}
header{
	texte: 🌸🌼🌷🌺Les fleurs🌸🌼🌷🌺;
}